[Unit]
Description=devman_client_bot

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/home/durgamail5000/storage_client_bot/
ExecStart=/home/durgamail5000/storage_client_bot/venv/bin/python3.10 /home/durgamail5000/storage_client_bot/client_bot.py

[Install]
WantedBy=multi-user.target