[Unit]
Description=Devman Client Bot

[Service]
Type=simple
WorkingDirectory=/home/durgamail5000/storage_client_bot/
ExecStart=sudo python3.10
Restart=always

[Install]
WantedBy=multi-user.target